block variables
	- var pageTitle = "Publishers interface"
extends ../layout/_site-base 

block content
	section(class="hero-unit section-bg-image margin-top-negative") 

		.container

			.row

				div(class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1")
					h2(class="hero-unit-h") Hero unit
					p(class="hero-unit-p lead m-b-l m-t-s") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia purus in justo posuere hendrerit.
					a(class="hero-unit-button button button-link button-light button-l button-primary scroll", href="#bloc1" title="Découvrir") Découvrir

	span(class="anchor block", id="bloc1")
	section(class="section")

		.container

			h2(class="h2 text-center") Titre 1

			.row

				div(class="content-block col-md-4 col-sm-4 text-center hover-icon")
					div(class="icon icon-share center-block")
					h3(class="h3") Titre 1
					p(class="p") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia purus in justo posuere hendrerit.
					a(class="button button-link button-light button-l button-secondary", href="ingenieur.html", title="Découvrir") Découvrir

				div(class="content-block col-md-4 col-sm-4 text-center hover-icon")
					div(class="icon icon-data center-block")
					h3(class="h3") Titre 2
					p(class="p") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia purus in justo posuere hendrerit.
					a(class="button button-link button-light button-l button-secondary scroll", href="#bloc2", title="Découvrir") Découvrir

				div(class="cotent-block-last col-md-4 col-sm-4 text-center hover-icon")
					div(class="icon icon-bulb center-block")
					h3(class="h3") Titre 3
					p(class="p") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia purus in justo posuere hendrerit.
					a(class="button button-link button-light button-l button-secondary", href="savoir-faire.html", title="Découvrir") Découvrir

	span(class="anchor block", id="bloc2")
	section(class="section section-bg-gray-lighter")

		.container

			h2(class="h2 text-center") Titre 2

			.row

				div(class="col-md-4 col-sm-4 text-center")
					div(class="plan content-block p-b-m")
						h3(class="h3 plan-title m-b-xs") Titre 1
						p(class="plan-price center-block") 75€
							small /mois
						ul(class="plan-list list-unstyled center-block inline-block text-left")
							li 
								span(class="plan-icon icon-clock")
								|Lorem ipsum
							li 
								span(class="plan-icon icon-data")
								|Lorem ipsum
							li 
								span(class="plan-icon icon-mail")
								|Lorem ipsum
							li 
								span(class="plan-icon icon-eye")
								|Lorem ipsum

						div(class="clearfix")

						a(class="button button-link button-light button-l button-secondary", href="infogerance.html", title="En savoir plus") En savoir plus 

				div(class="col-md-4 col-sm-4 text-center")
					div(class="plan content-block p-b-m")
						h3(class="h3 plan-title m-b-xs") Titre 2
						p(class="plan-price") 110€
							small /mois
						ul(class="plan-list list-unstyled center-block inline-block text-left")
							li 
								span(class="plan-icon icon-clock")
								|Lorem ipsum
							li 
								span(class="plan-icon icon-data")
								|Lorem ipsum
							li 
								span(class="plan-icon icon-phone")
								|Lorem ipsum
							li 
								span(class="plan-icon icon-eye")
								|Lorem ipsum

						div(class="clearfix")

						a(class="button button-link button-light button-l button-secondary", href="infogerance.html", title="En savoir plus") En savoir plus 

				div(class="col-md-4 col-sm-4 text-center")
					div(class="content-block-last plan plan-light p-b-m")
						h3(class="h3 plan-title m-b-xs") Titre 3
						p(class="plan-price") 60€
						ul(class="plan-list list-unstyled center-block inline-block text-left")
							li
								span(class="plan-icon icon-forbidden")
								|Lorem ipsum
							li 
								span(class=" lan-icon icon-credit-card") 
								|Lorem ipsum
							li 
								span(class="plan-icon icon-tag")
								|Lorem ipsum
							li 
								span(class="plan-icon icon-gauge")
								|Lorem ipsum

						div(class="clearfix")

						a(class="button button-link button-light button-l button-third", href="infogerance.html", title="En savoir plus") En savoir plus 

	section(class="section section-bg-third section-text-color-light")

		.container

			.row

				div(class="text-center")
					p(class="lead m-b-xl m-t-0") Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					a(class="button button-link button-light button-l button-primary-gray", href="contact.html", title="Contact") Contact

