doctype html
html(lang="fr")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		block variables
			- var pageTitle = pageTitle || default "Start Project"
		title #{pageTitle}
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(href="img/favicon.png" rel="shortcut icon")

		link(rel="stylesheet", href="css/main.css")
		//if lt IE 9
			script(src="js/ltie9.js")


	body(class="")
	
		include ../includes/_site-mobile-nav

		include ../includes/_site-header

		div(class="page-wrapper", id="#pageWrapper")

			div(class="main", role="main")

				block content
			
			include ../includes/_site-footer

		script(type='text/javascript', src="js/main.js")
