//
// Icons
//

.icon {
	/* Box-model */
	height: $doc-line-height * 4 + px;
	width: $doc-line-height * 4 + px;

	/* Typography */
	@include font-size(36, no, no);
	line-height: $doc-line-height * 4 + px;
	color: $brand-third-color;

	/* Visual */
	border: 1px solid $brand-third-color;
	border-radius: 50%;

	/* Misc */
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	transition: all 0.7s;
}

.light-icon {
	/* Typography */
	color: $text-color-light;

	/* Visual */
	border-color: $text-color-light;
}


.icon-l {
	/* Box-model */
	height: $doc-line-height * 7 + px;
	width: $doc-line-height * 7 + px;

	/* Typography */
	@include font-size(72, no, no);
	line-height: $doc-line-height * 7 + px;
}

.hover-icon:hover {

	.icon {
		/* Typography */
		color: $text-color-light;

		/* Visual */
		background-color: $brand-third-color;
	}

	.light-icon {
		/* Typography */
		color: $brand-third-color;

		/* Visual */
		background-color: $text-color-light;
	}
}

.icon-techno {
	/* Box-model */
	height: $doc-line-height * 5 + px;
	width: $doc-line-height * 5 + px;

	/* Typography */
	@include font-size(18, no, no, 114);
}

.icon-techno-html5 {
	@include light-color-icon(#df4f15);
}

.icon-techno-javascript {
	@include light-color-icon(#f0dc22);
	border-color: $border-color;
	color: $text-color;

	&:hover {
		color: $text-color;
		border-color: #f0dc22;
	}
}

.icon-techno-nodejs {
	@include light-color-icon(#80bd01);
}

.icon-techno-php {
	@include light-color-icon(#4F5B93);
}

.icon-techno-git {
	@include light-color-icon(#f14e32);
}

.icon-techno-jquery {
	@include light-color-icon(#0769AD);
}

.icon-techno-mysql {
	@include light-color-icon(#e97b00);
}

.icon-techno-python {
	@include light-color-icon(#3776ab);
}

.icon-techno-java {
	@include light-color-icon(#f00000);
}

.icon-techno-postgresql {
	@include light-color-icon(#0085B0);
}
