// 
// Section
//

.section {
	/* Box-model */
	@include m-p(padding, top, $doc-line-height * 3);
	@include m-p(padding, bottom, $doc-line-height * 3);

	/* Media queries */
	@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-min) {
		/* Box-model */
		@include m-p(padding, top, $doc-line-height * 4);
		@include m-p(padding, bottom, $doc-line-height * 4);
  	}

	@media screen and (min-width: $screen-md-min) {
		/* Box-model */
		@include m-p(padding, top, $doc-line-height * 5);
		@include m-p(padding, bottom, $doc-line-height * 5);
  }
}

.section-text-color-light {

	/* Typography */
	color: $text-color-light;

	.h2 {
		/* Typography */
		color: $text-color-light;
	}

	.icon {
		/* Typography */
		color: $text-color-light;

		/* Visual */
		border-color: $text-color-light;
	}

}