block link
	- var active = '';

- var menu = {'menu 1' : 'page1.html', 'menu 2' : 'page2.html', 'menu 3' : 'page3.html' }

header(role="banner", class="header p-t-s p-b-s")

	.container

		.row

			div(class="col-md-4 col-sm-3 col-xs-6")
				h1(class="header-logo-h1") 
					a(href="index.html", title="Start project") LOGO
						img(class="header-logo-img img", alt="", src="")

			div(class="col-md-8 col-sm-9 col-xs-6")

				a(class="button button-link button-light button-s button-menu text-uppercase visible-xs right m-t-xs", id="buttonMenu" href="#" title="Menu") Menu

				nav(role="navigation" class="primary-nav right m-t-xs hidden-xs")
					ul(class="list-inline primary-nav-ul")
						each val, key in menu
							li(class="primary-nav-ul-item")
								if active === key
									a(class="primary-nav-ul-item-a active", href=val, title=key)= key
								else
									a(class="primary-nav-ul-item-a", href=val, title=key)= key
						li(class="primary-nav-ul-item") 
							a(class="button button-link button-light button-s button-nav", href="contact.html" title="Contact") Contact