- var menuMobile = {'Accueil' : 'index.html', 'Menu 1' : 'menu1.html', 'Menu 2' : 'menu2.html', 'Menu 3' : 'menu3.html', 'Contact' : 'contact.html' }

nav(role="navigation", class="mobile-nav visible-xs", id="mobileNav")
			ul(class="list-unstyled mobile-nav-ul text-uppercase")
				each val, key in menuMobile
					li(class="mobile-nav-ul-item")
						a(class="mobile-nav-ul-item-a active", href=val, title=key)=key