//
// Button shadow
//

// Button-shadow
.button-shadow {
	/* Typography */
	color: $body-text-color-light;

	&:hover {
		/* Typography */
		color: $body-text-color-light;
	}
}

.button-primary {
	@include button-shadow($button-primary-color);
}

.button-primary-gray {
	@include button-shadow($button-gray-color);
}

.button-secondary {
	@include button-shadow($button-secondary-color);
}

.button-third {
	@include button-shadow($button-third-color);
}

/*.button-success {
	@include button-shadow($button-success-color);
}

.button-danger {
	@include button-shadow($button-danger-color);
}*/