/* Button

Styleguide 3
*/

/* Default

Markup: 
<button class="button button-primary">Primary</button>

Styleguide 3.1
*/

.button-primary {
	@include button($button-primary-color);
}

.button-secondary {
	@include button($button-secondary-color);
}

.button-third {
	@include button($button-third-color);
}

/* Action

Markup: 
<button class="button button-success">Success</button>
<button class="button button-danger">Danger</button>

Styleguide 3.2
*/

.button-success {
	@include button($button-success-color);
}

.button-danger {
	@include button($button-danger-color);
}