//
// Mixins buttons
//

// Button
@mixin button($btn-color-base) {
    /* Visual */
  background-color: $btn-color-base;

  &:hover {
    
    /* Visual */
    background-color: darken($btn-color-base, 10%);
  }
}

// Button light
@mixin button-light($btn-color-base, $btn-color-text-hover) {
  /* Typography */
  color: $btn-color-base;

  /* Visual */
  border-color: $btn-color-base;

  &:hover {
    /* Typography */
    color: $btn-color-text-hover;
    
    /* Visual */
    background-color: $btn-color-base;
  }
}

// Button shadow
@mixin button-shadow($btn-color-base) {

  /* Visual */
  background-color: $btn-color-base;
  -webkit-box-shadow: 0 3px 0 darken($btn-color-base, 5%);
  box-shadow: 0 3px 0  darken($btn-color-base, 5%);

    &:hover {
    
    /* Visual */
    -webkit-box-shadow: 0 3px 0 $btn-color-base;
    box-shadow: 0 3px 0  $btn-color-base;
  }

}


