//
// Hero unit
//

.hero-unit {
	/* Box-model */
	@include m-p(padding, top, $doc-line-height * 5);
	@include m-p(padding, bottom, $doc-line-height * 3);

	/* Visual */
	background-image: url('../img/bg-hero-unit.jpg');

	/* Media queries */

	/* Tablet */
	@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
		/* Box-model */
		@include m-p(padding, top, $doc-line-height * 7);
		@include m-p(padding, bottom, $doc-line-height * 5);
  	}

  	 /* Tablet landscape */
	@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		/* Box-model */
		@include m-p(padding, top, $doc-line-height * 6);
		@include m-p(padding, bottom, $doc-line-height * 4);
  	}

  	/* Desktop */
	@media screen and (min-width: $screen-md-min) {
		/* Box-model */
		@include m-p(padding, top, $doc-line-height * 8);
		@include m-p(padding, bottom, $doc-line-height * 6);
  }

}


.hero-unit-h {
	/* Typography */
	@include font-size(36, no, no);
	color: $hero-unit-text-color;
	font-weight: normal;
	text-transform: none;
}

.hero-unit-p {
	/* Typography */
	color: $hero-unit-text-color;
}

.hero-unit-button {
	/* Typography */
	@include font-size(18, no, no);
}