//
// Mobile nav
//

// Mobile nav
.mobile-nav {
	/* Box model */
	width: 215px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100% !important;
	z-index: -1;

	/* Visual */
	background-color: $brand-secondary-color;
}

.mobile-nav-ul-item-a {
	/* Box model */
	width: 100%;
	display: inline-block;
	@include m-p(padding, left, $mp-s);
	@include m-p(padding, top, $mp-m);
	@include m-p(padding, bottom, $mp-m);

	/* Typography */
	@include font-size(16, no, no);
	color: $text-color-light;

	/* Visual */
	border-bottom: 1px solid $brand-third-color;

		&:hover {
			/* Typography */
			color: $text-color-light;
			text-decoration: none;
		}
}
