//
// Mobile nav classes added in JS
// 

// Add transform class in button-mobile menu clic  
.page-wrapper, .header {
  
  &.js-transform {
  	/* Misc */
    transform: translate3d(0,0,0);
  }
}

// Mobile nav is active
.js-mobile-nav-active .page-wrapper, .js-mobile-nav-active .header {
	/* Misc */
	-webkit-transform: translate3d(-215px, 0, 0);
	-moz-transform: translate3d(-215px, 0, 0);
	-ms-transform: translate3d(-215px, 0, 0);
	-o-transform: translate3d(-215px, 0, 0);
	transform: translate3d(-215px, 0, 0);
}
