/* Base */

html {
	/* Typography */
	font-size: $doc-font-size + px;
	line-height: 1.5;
}

body {

	/* Typography */
	font-family: $font-family;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Visual */
	background-color: $body-bg-color;
}

.baseline {
	background-image: -webkit-linear-gradient(0deg, rgba(200,0,0,.2) 40px, transparent 40px),
						-webkit-linear-gradient(top, rgba(0,0,0,0) 95%, rgba(56,255,255,.8) 100%);
	background-image: -moz-linear-gradient(0deg, rgba(200,0,0,.2) 40px, transparent 40px),
						-moz-linear-gradient(top, rgba(0,0,0,0) 95%, rgba(56,255,255,.8) 100%);
	background-image: -o-linear-gradient(0deg, rgba(200,0,0,.2) 40px, transparent 40px),
						-o-linear-gradient(top, rgba(0,0,0,0) 95%, rgba(56,255,255,.8) 100%);
	background-size: 60px 100%, 100% 24px;
	background-position: 10px 0px;
}

.page-wrapper {
	/* Box-model */
	position: absolute;
	left: 0;
	right: 0;
	z-index: 100;

	/* Visual */
	background-color: white;

	/* Misc */
	-webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}