/* Fonts */

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSansRegular/OpenSans-Regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/OpenSansRegular/OpenSans-Regular-webfont.svg#dc56f0938c09c27a4156bb0f8f5176a2') format('svg'), /* Legacy iOS */
       url('fonts/OpenSansRegular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/OpenSansRegular/OpenSans-Regular-webfont.woff') format('woff'), /* Modern Browsers */
       url('fonts/OpenSansRegular/OpenSans-Regular-webfont.otf')  format('opentype'); /* Safari, Android, iOS */
       
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/MontserratRegular/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/MontserratRegular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/MontserratRegular/Montserrat-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/MontserratRegular/Montserrat-Regular.otf')  format('opentype'), /* Safari, Android, iOS */
       url('fonts/MontserratRegular/Montserrat-Regular.svg#95d90f2cd2aa64bdfee0e9f34c516e71') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}