//
// Icons
//

@font-face {
	font-family: 'icon-haratryn';
	src:url('fonts/icons/icon-haratryn.eot?-ts4e1j');
	src:url('fonts/icons/icon-haratryn.eot?#iefix-ts4e1j') format('embedded-opentype'),
		url('fonts/icons/icon-haratryn.woff?-ts4e1j') format('woff'),
		url('fonts/icons/icon-haratryn.ttf?-ts4e1j') format('truetype'),
		url('fonts/icons/icon-haratryn.svg?-ts4e1j#icon-haratryn') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icon-haratryn';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-facebook:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-googleplus:before {
	content: "\e602";
}
.icon-clock:before {
	content: "\e606";
}
.icon-credit-card:before {
	content: "\e607";
}
.icon-gauge:before {
	content: "\e608";
}
.icon-checkmark:before {
	content: "\e616";
}
.icon-cross:before {
	content: "\e617";
}
.icon-code:before {
	content: "\e618";
}
.icon-flow-tree:before {
	content: "\e619";
}
.icon-browser:before {
	content: "\e61a";
}
.icon-share:before {
	content: "\e605";
}
.icon-forbidden:before {
	content: "\e609";
}
.icon-support:before {
	content: "\e612";
}
.icon-download:before {
	content: "\e61b";
}
.icon-cloud:before {
	content: "\e61c";
}
.icon-data:before {
	content: "\e603";
}
.icon-bulb:before {
	content: "\e604";
}
.icon-eye:before {
	content: "\e60a";
}
.icon-mail:before {
	content: "\e60b";
}
.icon-phone:before {
	content: "\e60c";
}
.icon-tag:before {
	content: "\e60d";
}
.icon-like:before {
	content: "\e60e";
}
.icon-banknote:before {
	content: "\e60f";
}
.icon-params:before {
	content: "\e610";
}
.icon-diamond:before {
	content: "\e611";
}
.icon-lock:before {
	content: "\e613";
}
.icon-settings:before {
	content: "\e614";
}
.icon-display:before {
	content: "\e615";
}
