//
// Responsive utilities
//

@-ms-viewport {
  width: device-width;
}


// Visibility utilities

@include responsive-invisibility('.visible-xs');

@media (max-width: $screen-xs-max) {
  @include responsive-visibility('.visible-xs');
}

@include responsive-invisibility('.visible-sm');

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include responsive-visibility('.visible-sm');
}

@include responsive-invisibility('.visible-md');

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include responsive-visibility('.visible-md');
}

@include responsive-invisibility('.visible-lg');

@media (min-width: $screen-lg-min) {
  @include responsive-visibility('.visible-lg');
}

@media (max-width: $screen-xs) {
  @include responsive-invisibility('.hidden-xxs');
}

@media (max-width: $screen-xs-max) {
  @include responsive-invisibility('.hidden-xs');
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include responsive-invisibility('.hidden-sm');
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include responsive-invisibility('.hidden-md');
}

@media (min-width: $screen-lg-min) {
  @include responsive-invisibility('.hidden-lg');
}


// Print utilities
//
// Media queries are placed on the inside to be mixin-friendly.

@include responsive-invisibility('.visible-print');

@media print {
  @include responsive-visibility('.visible-print');
}

@media print {
  @include responsive-invisibility('.hidden-print');
}